[user]
name = Daniel Amarante
email = daniel.amarante2@gmail.com
[credential]
helper = osxkeychain

[color]
ui = auto

[alias]
st = status -sb
co = checkout

prb = pull -r
prbm = pull --rebase origin master

a  = add -A
ap = add -pa

l = log --graph --abbrev-commit --date=relative
ll = log --graph --abbrev-commit --date=relative --name-status
lp = log --graph --abbrev-commit --date=relative -p

boom = clean -fd

r = reset HEAD
rh = reset HEAD~1

dc = diff --cached
d = diff
dns = diff --ignore-space-change

pb = "!f() { git push -u origin $(git rev-parse --abbrev-ref HEAD); }; f"

cs = "!f() { \
	[ \"$#\" -eq 1 ] && EDITOR=vim git duet-commit -v -e -m [#\"$1\"]; \
	[ \"$#\" -eq 2 ] && git solo $1 && EDITOR=vim git duet-commit -v -e -m [#\"$2\"]; \
	[ \"$#\" -eq 3 ] && git duet $1 $2 && EDITOR=vim git duet-commit -v -e -m [#\"$3\"]; \
      }; f"

please = push --force-with-lease
commend = commit --amend --no-edit

[push]
default = simple

[format]
pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[merge]
tool = diffmerge
[mergetool "diffmerge"]
cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
trustExitCode = true
[mergetool]
keepBackup = false
[diff]
tool = diffmerge
[difftool "diffmerge"]
cmd = diffmerge $LOCAL $REMOTE
[core]
excludesfile = ~/.gitignore_global
editor = vim
pager = diff-so-fancy | less
[commit]
template = ~/.git_commit_msg.txt

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
